@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", serif;
}

/* sheard style */

.paragraph-common {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.btn {
  padding: 20px 43px 20px 43px;
  border-radius: 8px;
  background: rgb(229, 84, 115);
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  transition: 1s;
  cursor: pointer;
}

.btn:hover {
  background: rgb(62, 230, 11);
}
.heading-title {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}

/* banner style start */

header {
  background: rgba(229, 84, 115, 0.1);
}
.container {
  width: 75%;
  margin: 0 auto;
  max-width: 1440px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .banner-text * {
  margin-bottom: 32px;
  max-width: 525px;
}

.banner .banner-text .banner-title {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: left;
}
.banner .banner-img .banner-discription {
}

.banner-img img {
  width: 100%;
  vertical-align: middle;
}

/* featured-area Style Start */

#featured {
  padding: 100px 0;
}

.container .featured-area {
  width: 500px;
  text-align: center;
  margin: 30px auto;
}

.container .flower-area {
  display: flex;
  justify-content: space-between;
  align-items: end;
  grid-gap: 20px;
  margin-top: 73px;
}

.flower-area .flower .flower-img {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  height: 500px;
  padding: 30px 25px 0;
  display: flex;
  align-items: end;
}
.container .flower-area .flower-img img {
  width: 100%;
}

.container .flower-area .pink {
  background: rgba(167, 33, 98, 0.15);
}
.container .flower-area .blue {
  background: rgba(5, 151, 160, 0.15);
}
.container .flower-area .green {
  background: rgba(71, 125, 17, 0.15);
}
.container .flower-area p {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 16px;
}

.servies-area {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 80px 130px;
  border-radius: 8px;

  background: rgba(39, 39, 39, 0.05);
}

.servies-area .delivery,
.growers,
.support {
  text-align: center;
}

.servies-area p {
  margin-top: 16px;
}

/* Hot deal section style start */

.hot-deal {
  border-radius: 8px;
  margin: 120px 0;

  background: rgba(229, 84, 115, 0.05);
}
.hot-deal .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0;
}

.hot-deal .container .hot-deal-text {
  text-align: center;
  width: 75%;
  max-width: 550px;
}

.hot-deal .container .hot-deal-text h2 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
}

.hot-deal .container .hot-deal-text, span {
  color: rgb(229, 84, 115);
}

.hot-deal .container .hot-deal-text p {
  text-align: center;
}

.hot-deal .container .hot-deal-img {
  max-width: 318px;
}
/* instagram style start */

.container .instagram-text {
  width: 500px;
  margin: 30px auto;
}

.container .instagram-text p {
  text-align: center;
}

.container .instagram-img img {
  width: 100%;
}
.container .instagram-img {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 128px;
}

.newsletter-hedding {
  max-width: 400px;
  margin: 20px auto;
}

.newsletter-hedding p {
  text-align: center;
}

.newsletter-main {
  background-image: url("../images/newsletterbg.png");
  padding: 122px 0;
  margin-bottom: 128px;
}

.newsletter-main form {
  max-width: 800px;
  margin: 16px auto;
  display: flex;
  gap: 10px;
}

.newsletter-main form input {
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}
/* footer area style start */
footer{
  background-color: black;
}
#paru{
  color: rgb(229, 84, 115);
}

#width{
  color: white;
}
footer .container {
 width: 600px;
 padding: 128px 0;

}
footer .container p{
  text-align: center;
  color: white;
  opacity: 0.6;

}

footer #reserved{
  color:rgba(255, 255, 255, 0.4)
  opacity: 0.7;
}